<h1>Showing all case</h1>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    jQuery(document).on("click", "tr > td", function () {
        var $this = jQuery(this);

        // ignore clicks on last column
        if ($this.is(":last-child")) return;

        // unhighlight currently selected row
        jQuery(".highlight").removeClass("highlight");

        // change the highlight of the row        
        $this.parent().addClass("highlight");
    });

    function call_counter(url) {
        window.open(url);
    }
</script>

<style>
    table,
    th,
    td {
        border: 1px solid rgb(235, 59, 59);
        border-collapse: collapse;
    }

    .highlight {
        background-color: #fa9da9;
    }
</style>

<table style="width:100% ">
    <tr>
        <th>Case Number</th>
        <th>Date Confirmed</th>
        <th>Local or Imported</th>
        <th>Patient Name</th>
        <th>ID Number</th>
        <th>Date of Birth</th>
        <th>Virus Name</th>
        <th>Disease</th>
        <th>Max Infectious Period</th>
    </tr>
    {% for case in case_list %}
    <tr>
        <td>
            <a href="{% url 'case' case.caseNumber %}">
                {{ case.caseNumber }}
            </a>
        </td>
        <td>{{ case.dateConfirmed }}</td>
        <td>{{ case.localOrImported }}</td>
        <td>{{ case.patientName }}</td>
        <td>{{ case.idNumber }}</td>
        <td>{{ case.dateOfBirth }}</td>
        <td>{{ case.virusName }}</td>
        <td>{{ case.disease }}</td>
        <td>{{ case.maxInfectiousPeriod }}</td>
    </tr>
    {% endfor %}
</table>

<a href="{% url 'case-create' %}">
    Add Case
</a>