<h1> Update Visit Record for {{ Location.case }}( {{ Location.locationCache.locationName }}) </h1>

<form method="post">
    {% csrf_token %}
    <input style="display: none;" name="case" value="{{ Location.case_id }}">
    <p>
        <label>Location: </label>
        <select name="locationCache">
            {% for locationCache in LocationCache_list %}
            <option value="{{ locationCache.pk }}">
                {{ locationCache.locationName }}
            </option>
            {% endfor %}
        </select>
        <a href="/recordPage/location_cache_create/update/{{ Location.pk }}">New Location Data</a>
    </p>
    <p>
        <label>Date From: </label>
        <input type="date" name="dateFrom" value="{{ dateFrom }}">
    </p>
    <p>
        <label>Date To: </label>
        <input type="date" name="dateTo" value="{{ dateTo }}">
    </p>
    <p>
        <label>category: </label>
        <select type="text" name="category" value="{{ Location.category }}">
            <option value="Residence">Residence</option>
            <option value="Workplace">Workplace</option>
            <option value="Visit">Visit</option>
        </select>
    </p>
    <p>
        <input type="submit" value="Update">
    </p>
    <p>
        <a href="/recordPage/case/{{ Location.case }}">Back to Caes</a>
    </p>
</form>