<h1> Create New Visit Record for {{ caseNumber }} </h1>

<form method="post">
    {% csrf_token %}
    <input style="display: none;" name="caseNumber" value="{{ caseNumber_pk }}">
    <p>
        <label>Location: </label>
        <select name="locationCache">
            {% for locationCache in locationCache_list %}
            <option value="{{ locationCache.pk }}">
                {{ locationCache.locationName }}
            </option>
            {% endfor %}
        </select>
        <a href="/recordPage/location_cache_create/create/{{ caseNumber }}">New Location Data</a>
    </p>
    <p>
        <label>Date From: </label>
        <input type="date" name="dateFrom" >
    </p>
    <p>
        <label>Date To: </label>
        <input type="date" name="dateTo" >
    </p>
    <p>
        <label>category: </label>
        <select type="text" name="category" value="{{ Location.category }}">
            <option value="Residence">Residence</option>
            <option value="Workplace">Workplace</option>
            <option value="Visit">Visit</option>
        </select>
    </p>
    <p>
        <input type="submit" value="Create">
    </p>
    <p>
        <a href="/recordPage/case/{{ caseNumber }}">Back to Caes</a>
    </p>
</form>