<h1> Create New Location Record for {{ caseNumber }} </h1>

<form method="post">
    {% csrf_token %}
    <input style="display: none;" name="caseNumber" value="{{ caseNumber_pk }}">
    <p>
        <label>Location: </label>
        <select name="locationCache">
            {% for locationCache in locationCache_list %}
            <option value="{{ locationCache.pk }}">
                {{ locationCache.locationName }}
            </option>
            {% endfor %}
        </select>
        <a href="{% url 'location-cache-create' %}">New Location Data</a>
    </p>
    <p>
        <label>Date From: </label>
        <input type="date" name="dateFrom" >
    </p>
    <p>
        <label>Date To: </label>
        <input type="date" name="dateTo" >
    </p>
    <p>
        <label>Category: </label>
        <input type="text" name="category" >
    </p>
    <input type="submit" value="Create">
</form>